extends layout

block content
  .w3-container.w3-margin-top
    .w3-card-4
      header.w3-container.w3-teal
        h2= recurso.titulo
        h5= recurso.subtitulo
      
      .w3-container.w3-padding-16
        .w3-row
          .w3-col.m6
            p: b Tipo: 
              span.w3-text-grey= recurso.tipo
            p: b Produtor: 
              span.w3-text-grey= recurso.produtor
            p: b Data Registo: 
              span.w3-text-grey= recurso.dataRegisto ? recurso.dataRegisto.substring(0, 10) : 'N/A'
          
          .w3-col.m6.w3-right-align
            p: b Tags: 
              each tag in recurso.classificacao
                span.w3-tag.w3-light-blue.w3-margin-right= tag
            
            p: b Avaliação Atual: 
              if recurso.ranking && recurso.ranking.numVotos > 0
                span.w3-tag.w3-yellow.w3-round #{ (recurso.ranking.somaEstrelas / recurso.ranking.numVotos).toFixed(1) } / 5 ⭐ 
                div.w3-small.w3-text-grey (#{recurso.ranking.numVotos} votos registados)
              else
                span.w3-text-grey (Sem avaliações)

            form.w3-margin-top(method="POST" action="/recursos/" + recurso._id + "/avaliar")
              label.w3-small.w3-text-grey Classificar material:
              div
                select.w3-select.w3-border(name="nota" style="width:220px; display:inline-block")
                  option(value="5") 5⭐: Muito Bom
                  option(value="4") 4⭐: Bom
                  option(value="3") 3⭐: Satisfatório
                  option(value="2") 2⭐: Mau
                  option(value="1") 1⭐: Muito Mau
                button.w3-button.w3-blue.w3-margin-left(type="submit") Votar
        
        hr
        .w3-margin-top.w3-margin-bottom
          a.w3-button.w3-blue.w3-round(href="/recursos/" + recurso._id + "/download") ⬇ Descarregar (ZIP)
          if user && (user.nome === recurso.produtor || user.nivel === 'administrador')
            a.w3-button.w3-orange.w3-text-white.w3-round.w3-margin-left(href="/recursos/editar/" + recurso._id) ✏️ Editar Metadados
          span.w3-margin-left
            b Nº de Downloads: 
            | #{recurso.downloads || 0}
        
        hr
        h4.w3-text-teal Secção Social (Discussão)
        
        .w3-card-2.w3-padding.w3-light-grey.w3-round
          h5 Criar novo Post
          form(action="/recursos/" + recurso._id + "/posts" method="POST")
            label Título
            input.w3-input.w3-border(type="text" name="titulo" required)
            label Conteúdo
            textarea.w3-input.w3-border(name="conteudo" rows="3" required)
            button.w3-button.w3-teal.w3-margin-top(type="submit") Publicar Post

        hr
        h5 Discussões Recentes
        if recurso.posts && recurso.posts.length > 0
          each p in recurso.posts
            .w3-container.w3-border.w3-margin-bottom.w3-white.w3-padding
              .w3-row
                .w3-col.s10
                  h6: b= p.titulo
                .w3-col.s2.w3-right-align
                  if user && (user.nome === p.autor || user.nivel === 'administrador')
                    form(method="POST" action="/posts/" + p._id + "/apagar" style="display:inline")
                      input(type="hidden" name="recursoId" value=recurso._id)
                      button.w3-button.w3-red.w3-round.w3-small(type="submit" onclick="return confirm('Apagar post?')") 🗑
              p.w3-small.w3-text-grey Por: #{p.autor}
              p= p.conteudo
              
              .w3-container.w3-light-grey.w3-padding-small.w3-margin-top
                h6.w3-small Comentários:
                if p.comentarios
                  each c in p.comentarios
                    .w3-row.w3-margin-bottom(style="border-bottom: 1px solid #ddd; padding-bottom: 8px")
                      .w3-col.s9
                        p.w3-small(style="margin:0"): b #{c.autor}: 
                        if user && user.nome === c.autor
                          form(method="POST" action=`/posts/${p._id}/comentarios/${c._id}/editar`)
                            input(type="hidden" name="recursoId" value=recurso._id)
                            input.w3-input.w3-border.w3-white(type="text" name="conteudo" value=c.conteudo style="padding:2px; height:24px; font-size:12px")
                            button.w3-button.w3-tiny.w3-blue.w3-margin-top(type="submit") Guardar
                        else
                          span(style="font-weight:normal")= " " + c.conteudo
                      
                      .w3-col.s3.w3-right-align
                        if user && (user.nome === c.autor || user.nivel === 'administrador')
                          form(method="POST" action="/posts/" + p._id + "/comentarios/" + c._id + "/apagar" style="display:inline")
                            input(type="hidden" name="recursoId" value=recurso._id)
                            button.w3-button.w3-red.w3-round(type="submit" style="padding: 2px 8px; font-size: 11px" onclick="return confirm('Apagar?')") 🗑
                
                form.w3-margin-top(method="POST" action="/posts/" + p._id + "/comentarios")
                  input(type="hidden" name="recursoId" value=recurso._id)
                  input.w3-input.w3-border(type="text" name="conteudo" placeholder="Responder..." required)
                  button.w3-button.w3-teal.w3-small.w3-margin-top(type="submit") Enviar
        else
          p.w3-text-grey Sem discussões ainda.
      footer.w3-container.w3-teal.w3-padding
        a.w3-button.w3-white.w3-border(href="/recursos") Voltar